<%= render 'shared/errors'%>
<div class=" border p-5">
<%= form_with(model: @article, local: true) do |f| %>
<div class="f">
<div class="form-group row">
<%= f.label :title,class:"col-2 col-form-label"%>
<%= f.text_field :title,class:"col-10 form-control",placeholder:"Enter Title"%>
</div>
<div class="form-group row"><%= f.label :description,class:"col-2 col-form-label"%>
<%= f.text_area :description,class:"col-10 form-control",rows:10,placeholder:"Enter description"%>
</div>
<div class="text-center"><%= f.submit class:"btn btn-success mt-2 "%></div>

</div>
<%end%>
</div>
